@charset "UTF-8";

body{

    background: rgba(33, 107, 33, 0.788);
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;

}

header{

    text-align: center;
    color: white;

}

section{

    margin-left: 42%;
    width: 200px;
    height: auto;

}

section>ul{
    
    padding: 2%;
    background: rgba(255, 255, 255, 0.219);
    text-align: center;
    list-style: none;

}

section>ul>li{

    font-weight: 800;
    margin: 20%;
    
}

section>ul>li>a{

    color: white;
    text-decoration: none;

}

a:hover{

    background: #8ba302;
	color: rgb(16, 51, 17);
	transition: background 1s, color 1s;

}

footer{

    color: white;
    text-align: center;
    font-style: italic;

}