@charset "UTF-8";

body{

    background: rgba(33, 107, 33, 0.788);
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;

}

header{

    text-align: center;
    color: white;

}

section{

    margin-left: 35%;
    height: auto;
    width: 400px;

}

form{

    width: 400px;
    background: rgba(255, 255, 255, 0.308);
    color: rgb(4, 44, 35);
    padding: 5%;

}

form>label{

    text-align: left;

}

form>input{

    margin: 4%;

}

.btnsubmit{

    clear: both;
    border: none;
    background: #146903;
    color: white;
    margin: 3% 35%;
    border-radius: 5%;


}

section>p{

    padding: 4%;
    color: rgb(0, 0, 0);
    background: yellow;
    margin: 4% auto;
    border-radius: 3%;

}

.error{

    padding: 4%;
    color: white;
    background: tomato;
    margin: 4% auto;
    border-radius: 3%;

}

a:hover{

    background: #8ba302;
	color: rgb(16, 51, 17);
	transition: background 1s, color 1s;

}

footer{

    text-align: center;

}

footer>p{

    font-style: italic;
    color: white;

}

footer>a{

    border-radius: 3%;
    background: rgba(121, 189, 89, 0.534);
    color: white;
    text-decoration: none;


}